.App {
  text-align: center;

}
.style-weather {
  display: flex; 
  justify-content: center;
  align-items: center;

}
.style-weather{
  display: flex;  
  column-gap: 10px;
}
.style-weather li{
  text-decoration: none;
}



